<mat-toolbar class="lv-shell-toolbar flex gap-2">
  <a mat-button routerLink="/" i18n="@@shell.brand">LinkVault</a>
  <span class="flex-1"></span>
  <a mat-button routerLink="/buscar" i18n="@@shell.search">Buscar</a>
  <a mat-button routerLink="/descubrir" i18n="@@shell.discovery">Descubrir</a>
  <a mat-button routerLink="/postulaciones" i18n="@@shell.applications">Postulaciones</a>
  <a mat-button routerLink="/mis-links" i18n="@@shell.myLinks">Solo para mí</a>
  <a mat-button routerLink="/mi-cv" i18n="@@shell.myCv">Mi CV</a>
  <a mat-button routerLink="/perfil" i18n="@@shell.profile">Perfil</a>
  <button
    mat-button
    type="button"
    [disabled]="loggingOut()"
    (click)="logout()"
    i18n="@@shell.logout"
  >
    Cerrar sesión
  </button>
</mat-toolbar>
<lv-email-unverified-banner />
<main>
  <router-outlet />
</main>
